In [69]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import os
import seaborn as sns
from datetime import datetime
import fnmatch

In [50]:
contracts= pd.read_excel('Contracts/contracts.xlsx', engine='openpyxl')

In [ ]:
######
order in order of date (descending ) and indexed on player name (??) so everything in the 
line stays together


also probably make a 'for loop' to loop through stats folders and make one large stat file


how should i handle contract extensions????

In [51]:
contracts

,PLAYER,Unnamed: 1,AGE,POS,TEAM,DATE,TYPE,EXTENSION,STRUCTURE,LENGTH,VALUE,CAP HIT
0,Derek Joslin,NaN,19,LD,SJS,2006-12-28,Entry-Level,NaN,2-way,3,1550000,516667
1,Stephane Robidas,NaN,29,RD,DAL,2006-12-06,Standard,✔,1-way,3,4500000,1500000
2,Brendan Mikkelson,NaN,19,D,ANA,2006-11-30,Entry-Level,NaN,2-way,3,1845000,615000
3,Niklas Kronwall,NaN,25,LD,DET,2006-11-23,Standard,✔,1-way,5,15000000,3000000
4,Cal O'Reilly,NaN,20,C,NSH,2006-11-06,Entry-Level,NaN,2-way,3,1600000,500000
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Jakub Galvas,NaN,22,LD,CHI,2021-05-06,Entry-Level,NaN,2-way,2,1850000,867500
796,Kirill Semyonov,NaN,26,C,TOR,2021-05-05,Entry-Level,NaN,2-way,1,825000,825000
797,Elliot Desnoyers,NaN,19,LW,PHI,2021-05-05,Entry-Level,NaN,2-way,3,2625000,845833
798,Nico Daws,NaN,20,G,NJD,2021-05-05,Entry-Level,NaN,2-way,3,2775000,850833
799,Anton Forsberg,NaN,28,G,OTT,2021-05-05,Standard,✔,1-way,1,900000,900000

In [61]:
contracts= contracts.sort_values('DATE', ascending=True)

In [62]:
contracts

,PLAYER,Unnamed: 1,AGE,POS,TEAM,DATE,TYPE,EXTENSION,STRUCTURE,LENGTH,VALUE,CAP HIT
49,Fedor Tyutin,NaN,23,LD,NYR,2006-08-02,Standard,NaN,1-way,2,1975000,987500
48,Daniel Briere,NaN,28,C,BUF,2006-08-03,Standard,NaN,1-way,1,5000000,5000000
47,Brad Boyes,NaN,24,"RW, C",BOS,2006-08-04,Standard,NaN,1-way,2,3000000,1500000
46,Marc-André Fleury,NaN,21,G,PIT,2006-08-05,Standard,NaN,1-way,2,2598500,1294750
45,Milan Jurcina,NaN,23,D,BOS,2006-08-07,Standard,NaN,1-way,1,500000,500000
...,...,...,...,...,...,...,...,...,...,...,...,...
754,Joe Snively,NaN,25,LW,WSH,2021-06-03,Standard,✔,2-way,1,750000,750000
752,Samuel Ersson,NaN,21,G,PHI,2021-06-03,Entry-Level,NaN,2-way,3,2775000,859167
751,Nils Lundkvist,NaN,20,RD,NYR,2021-06-03,Entry-Level,NaN,2-way,3,5325000,925000
750,Mattias Norlinder,NaN,21,LD,MTL,2021-06-03,Entry-Level,NaN,2-way,3,2775000,859167
753,Andreas Wingerli,NaN,23,C,COL,2021-06-03,Entry-Level,NaN,2-way,1,925000,842500

In [63]:
contracts.columns

Index(['PLAYER', 'Unnamed: 1', 'AGE', 'POS', 'TEAM', 'DATE', 'TYPE',
       'EXTENSION', 'STRUCTURE', 'LENGTH', 'VALUE', 'CAP HIT'],
      dtype='object')

In [65]:
contracts =contracts.drop(columns='Unnamed: 1')

In [68]:
contracts.head()

,PLAYER,AGE,POS,TEAM,DATE,TYPE,EXTENSION,STRUCTURE,LENGTH,VALUE,CAP HIT
49,Fedor Tyutin,23,LD,NYR,2006-08-02,Standard,NaN,1-way,2,1975000,987500
48,Daniel Briere,28,C,BUF,2006-08-03,Standard,NaN,1-way,1,5000000,5000000
47,Brad Boyes,24,"RW, C",BOS,2006-08-04,Standard,NaN,1-way,2,3000000,1500000
46,Marc-André Fleury,21,G,PIT,2006-08-05,Standard,NaN,1-way,2,2598500,1294750
45,Milan Jurcina,23,D,BOS,2006-08-07,Standard,NaN,1-way,1,500000,500000

In [ ]:
#####STATS CONSOLIDATION

In [79]:
cwd_2= os.path.abspath('Stats')
stat_folders= os.listdir(cwd_2)

In [80]:
stat_folders

['1999-2000',
 '2000-01',
 '2001-02',
 '2002-03',
 '2003-04',
 '2005-06',
 '2006-07',
 '2007-08',
 '2008-09',
 '2009-10',
 '2010-11',
 '2011-12',
 '2012-13',
 '2013-14',
 '2014-15',
 '2015-16',
 '2016-17',
 '2017-18',
 '2018-19',
 '2019-20',
 '2020-21']

In [77]:
#### FOR-LOOP rough draft

#### FOR LOOP rough draft/notes

import os
import pandas as pd
cwd = os.path.abspath('') 
files = os.listdir(cwd) 


df = pd.DataFrame()
for file in files:
     if file.endswith('.xlsx'):
         df = df.append(pd.read_excel(file), ignore_index=True) 
df.head()

In [85]:
df= pd.DataFrame()
for folder in stat_folders:
    for file in folder:
        if file.endswith('.xlsx'):
            df= df.append(pd.read_excel(file, engine='openpyxl'), ignore_index=True)

In [86]:
df.head()

Empty DataFrame
Columns: []
Index: []